APP_ENV=development
GEMINI_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
BACKEND_API_URL=http://localhost:8000/api/v1/chat
INGESTION_API_URL=http://localhost:8000/api/v1/ingestion/upload
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_HOST=
OPENROUTER_API_KEY=
